<div class="btn-toolbar mt-5 mb-10 p-5 bg-light-lm bg-very-dark-dm rounded shadow" role="toolbar" aria-label="sidebar button menu">
  <div class="btn-group" role="group" aria-label="First group">
    <a href="/user/{{ username }}" id="button-user" class="btn btn-square" type="button" title="Benutzer"><i class="fi-xnsuxl-user-solid" style="color: steelblue;"></i></a>
  </div>
  <div class="btn-group ml-auto">
    <a href="/user/{{ username }}/logout" id="button-logout" class="btn btn-square" type="button" title="abmelden"><i class="fi-xnluxl-sign-out" style="color: red;"></i></a>
  </div>
</div>